@media screen and (max-width:576px){
    
    header{
        height: max-content;

    }.navbar{
        flex-direction: column;
        height: max-content;
    }
    .nav-items ul{
        flex-direction: column;
        margin-bottom: 30px;
        padding-bottom: 30px;
        
    }
    .nav-items ul li{
        margin: 20px;
    }
  
    .banner{
        flex-direction: column-reverse;
        /* height: max-content; */
        height: 100%;
        margin: 10px auto;
        width: 100%;
    }
    .banner .banner-img{
        width:100%;
        height: 100%;
       
    }
    .banner-img img{
        padding: 10px auto;
    }
    .banner-content{
        
        width:90%;
        margin: 20px auto;
        height:100%;
        padding: 20px auto;
    }
    

    .online-games-img-section{
        flex-direction: column;
       width: 100%;
        
    }
    .games-img-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .overlay {
   
  
        position: absolute;
        top:0;
       left:57px;
    }
}