@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,500;0,700;1,200;1,300;1,500&display=swap');

:root{
    --primary-color:#FFF;;
    --secondary-color: #FF42A5;
    --font-family : 'Work Sans', sans-serif;
    --font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #FFF;

}
.navbar{
    margin: 0;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    box-shadow: 2px 8px 30px 10px rgba(0, 0, 0, 0.09);
   
}
.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo-img img{
    
    width:50px;
}

.logo-title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo-title span{
    color: var(--secondary-color); ;

}

.nav-items ul{
    display: flex;
    align-items: center;
    list-style: none;
   
}

.nav-items ul a{
    padding: 0px 10px;
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.follow-button {
    border-radius: 8px;
    padding:  10px;
 background-color: rgba(11, 2, 35, 0.10);

}
.follow-button i{
    margin: 3px;
}
.follow-button .fa-youtube {
    color: #F61C0D;
}
/* ---------------------nav section ends----------------------------- */
/*------------------------------ banner section started --------------------------*/
.banner{
    margin: 0;
    width:100%;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    height: 80svh;
}
.banner-content{
    width:50%;
    margin: 0px;
    background-image: url(images/Group\ 14.png);
    height: 80svh;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
   
    text-align: left;
    

}
.banner-content h3{

    color: #0B0223;
    margin-bottom: 0px;
    font-family: var(--font-family);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
     ;
    
}
.gradient-text{
   margin: 0px;
 padding: 0px;
    font-family: var(--font-family);
    font-size: 60px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.banner-content p{
    margin:0px;
    font-family: Work Sans;
    font-size: 18px;
    text-align: left;
    padding: 0px;
    margin-top:0px;
    line-height: 5px;
 }

.banner-img{
    width:50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;

}

.banner-img img{
    width:80%;
    height:auto;

}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 48px;
    color:var(--primary-color);
    margin:5px;
    font-family: var(--font-family);
    font-size: 16px;
}
.btn-megenta{
    background-color:var(--secondary-color); 

}
.btn-blue{
    background-color:#4EC5F7;

}

/*------------------------------ banner section ended --------------------------*/
/*------------------------------ we are gamer section started --------------------------*/
.we-are-gamer{
    background-color: rgba(241, 68, 174, 0.03);
    width:100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}
.gamer-img{
    width: 60%;
    margin: auto 0px;

}
.gamer-img img{
    width: 90%;
    /* margin: auto 0px; */
  
}
.gamer-content{
    width:40%;
    margin: auto 0px;
    text-align: end;
    padding-right:5px ;

}
.gamer-content h1{
    font-size: 40px;
}


/*------------------------------ we are gamer section ended --------------------------*/
/*------------------------------ online-games-section started --------------------------*/


.online-games{
    width:100%;
  
   
}
.online-games-content{
    width: 100%;
    text-align: center;
    height:max-content;
    margin: 40px auto;
   
}
.online-games-content h1{
    font-family: var(--font-family);
    margin-bottom:5px;


}
.online-games-content h1 span{
     font-family: var(--font-family);
     text-transform: uppercase;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;

}
.online-games-content> p{
    padding: 0px;
    margin-top:0px;

}
.online-games-img-section{
    margin: 0 auto;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.games-img-box{
    position: relative;
}
.games-img-box img{
    width:300px;
    margin-right: 10px ;
   
   

}
.overlay {
   
  
    position: absolute;
    top:0;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    background-color: #8758F1;
    border: 2px solid var(--secondary-color);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0,0.8);
  }
 
  .overlay p{
    color: #FF42A5;
    text-align: center;
 
 }
  .games-img-box:hover  .overlay {
    opacity: 1;
}

/*------------------------------ online-games-section ended --------------------------*/
/*------------------------------play-instant-section started --------------------------*/
.play-instant-section{
   margin-top: 150px;
    width:100%;
    display:flex;
    justify-content: right;
    padding-right: 20px;
    box-sizing: border-box;

}
.play-instant{
   
    width:80%;
    display:flex;
    justify-content: right;

}
.play-instant-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding-right: 20px;

}
.play-instant-content h1{
   width: 300px;
   text-align: right;
   font-size: 48px;

}
.play-instant-content p{
    width: 300px;
    font-size: 18px;
    text-align: justify;
    font-style: normal;
    font-weight: 100;
    font-family: 'Work Sans', sans-serif;

 
 }
.play-instant-content h1 span{

    font-family: var(--font-family);
     text-transform: uppercase;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
}
.play-instant-img{
    width: 50%;

}
.play-instant-limg img{
   width: 80%;
   

}
.play-instant-simg{
    position: relative;
    top:-80px;
    left: -60px;

}
.play-instant-simg img{
    width: 30%;

}
/*------------------------------play-instant-section ended --------------------------*/
/*------------------------------game-types-section started --------------------------*/
.game-types-section{
   background-color:rgba(255, 66, 165, 0.03) ; 
   width:100%;
   display: flex;
   padding-top: 20px;
   padding-bottom: 20px; 
    justify-content: center;
    align-items: center;
}
.game-types-container{
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.game-types{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-color: #FFF;
     margin:10px 15px;
     box-sizing: border-box;
     transition: .3s ease-out;
}
.game-types img{
    width: 25%;
}
.game-types:hover{
    border: 3px solid var(--secondary-color);
}