@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,500;0,700;1,200;1,300;1,500&display=swap');

:root{
    --primary-color:#FFF;;
    --secondary-color: #FF42A5;
    --font-family : 'Work Sans', sans-serif;
    --font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
    font-family: var( --font-family);
}
header{
    background-color: #FFF;

}
.navbar{
    margin: 0;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    box-shadow: 2px 8px 30px 10px rgba(0, 0, 0, 0.09);
   
}
.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;

}
.logo-img img{
    
    width:50px;
}

.logo-title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo-title span{
    color: var(--secondary-color); ;

}

.nav-items ul{
    display: flex;
    align-items: center;
    list-style: none;
   
}

.nav-items ul a{
    padding: 0px 10px;
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.follow-button {
    border-radius: 8px;
    padding:  10px;
 background-color: rgba(11, 2, 35, 0.10);

}
.follow-button i{
    margin: 3px;
}
.follow-button .fa-youtube {
    color: #F61C0D;
}
/* ---------------------nav section ends----------------------------- */
/*------------------------------ banner section started --------------------------*/
.banner{
    margin: 0;
    width:100%;
    height: 80svh;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: max-content;
}
.banner-content-area{
    width:50%;
    display: flex;
    align-items:center;
    justify-content: center;
    background-image: url(images/Group\ 14.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.banner-content{
    width:50%;
   height: 80svh;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    text-align: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px auto 0px auto;
    

}
.banner-content h3{
    color: #0B0223;
    margin-bottom: 0px;
    font-family: var(--font-family);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    
    
    
}
.gradient-text {
   margin: 0px;
    font-family: var(--font-family);
    font-size: 60px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}
.banner-content p{
    /* margin:0px;
    padding: 0px; */
    font-family: Work Sans;
    font-size: 18px;
    text-align: left;
    padding: 0px;
    margin-top:0px;
    line-height: 5px;
   
 }

.banner-img{
    width:50%;
   height: 80svh;
    display: flex;
   justify-content:center;
   align-items: center;
    padding-top: 40px;
    box-sizing: border-box;

}

.banner-img img{
    width:75%;
}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 48px;
    color:var(--primary-color);
    margin:5px;
    font-family: var(--font-family);
    font-size: 16px;
}
.btn-megenta{
    background-color:var(--secondary-color); 

}
.btn-blue{
    background-color:#4EC5F7;

}

/*------------------------------ banner section ended --------------------------*/
/*------------------------------ we are gamer section started --------------------------*/
.we-are-gamer{
    background-color: rgba(241, 68, 174, 0.03);
    width:100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}
.gamer-img{
    width: 60%;
    margin: auto 0px;

}
.gamer-img img{
    width: 90%;
    /* margin: auto 0px; */
  
}
.gamer-content{
    width:40%;
    margin: auto 0px;
    text-align: end;
    padding-right:25px ;

}
.gamer-content h1{
    font-size: 40px;
}


/*------------------------------ we are gamer section ended --------------------------*/
/*------------------------------ online-games-section started --------------------------*/


.online-games{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}
.online-games-content{
    width: 100%;
    text-align: center;
    height:max-content;
    margin: 40px auto;
   
}
.online-games-content h1{
    font-family: var(--font-family);
    margin-bottom:5px;


}
.online-games-content h1 span{
     font-family: var(--font-family);
     text-transform: uppercase;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;

}
.online-games-content> p{
    padding: 0px;
    margin-top:0px;

}
.online-games-img-section{
    margin: 0 ;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.games-img-box{
    
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.games-img-box img{
    width: 280px;
    height: 350px;
   
   
  
   
   

}
.overlay {
   
  
    position: absolute;
    top:0;
    width: 280px;
    height: 350px;
    border-radius: 15px;
    border: 2px solid var(--secondary-color);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0,0.8);
  }
 
  .overlay p{
    color: #FF42A5;
    text-align: center;
 
 }
  .games-img-box:hover  .overlay {
    opacity: 1;
}

/*------------------------------ online-games-section ended --------------------------*/
/*------------------------------play-instant-section started --------------------------*/
.play-instant-section{
   margin-top: 150px;
    width:100%;
    display:flex;
    justify-content: right;
    padding-right: 20px;
    box-sizing: border-box;

}
.play-instant{
   
    width:80%;
    display:flex;
    justify-content: right;

}
.play-instant-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding-right: 20px;

}
.play-instant-content h1{
   width: 300px;
   text-align: right;
   font-size: 48px;

}
.play-instant-content p{
    width: 300px;
    font-size: 18px;
    text-align: justify;
    font-style: normal;
    font-weight: 100;
    font-family: 'Work Sans', sans-serif;

 
 }
.play-instant-content h1 span{

    font-family: var(--font-family);
     text-transform: uppercase;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
}
.play-instant-img{
    width: 50%;

}
.play-instant-limg img{
   width: 80%;
   

}
.play-instant-simg{
    position: relative;
    top:-80px;
    left: -60px;

}
.play-instant-simg img{
    width: 30%;

}
/*------------------------------play-instant-section ended --------------------------*/
/*------------------------------game-types-section started --------------------------*/
.game-types-section{
   background-color:rgba(255, 66, 165, 0.03) ; 
   width:100%;
   display: flex;
   padding-top: 40px;
   padding-bottom: 40px; 
    justify-content: center;
    align-items: center;
}
.game-types-container{
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.game-types{
   
    min-width: 130px;
    height:45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-color: #FFF;
     margin:10px 15px;
     padding: 10px 5px;
     box-sizing: border-box;
     border: 3px solid transparent;
     transition: .3s ease-out;
}
.game-types img{
    width: 15%;
}
.game-types:hover{
    border: 3px solid var(--secondary-color);
}

/* footer starts */
footer{
    background-color: #0B0223;
    width: 100%;
}
.footer-logo .logo-title  h2{
   
    color: #FFF;

}
.footer-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
}
footer .footer-item li{
    margin: 0 10px;
    list-style: none;
    color: #FFF;
text-align: center;
font-family: var(--font-family);
font-size: 18px;
font-style: normal;
margin: 15px 12px;
line-height: normal;

}
.social-icon{
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.social-icon svg{
    max-width: 40px;
    max-height: 26px;
    margin: 15px 12px;
}
.quick-access{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto 10px auto;

}
.quick-access li{
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    margin: 15px;
    line-height: normal;
    font-family: var(--font-family);
}
 .copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.copyright p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 12px;
    font-family: var(--font-family);

}