@media screen and (min-width:576px) and (max-width:920px){
    
    header{
        height: max-content;

    }.navbar{
        flex-direction: column;
        height: max-content;
    }
    .nav-items ul{
        flex-direction: column;
        margin-bottom: 30px;
        padding-bottom: 30px;
        
    }
    .nav-items ul li{
        margin: 20px;
    }
  
    .banner{
        flex-direction: column-reverse;
        /* height: max-content; */
        height: 100%;
        margin: 10px auto;
        width: 100%;
    }
    .banner .banner-img{
        width:100%;
        height: 100%;
       
    }
    .banner-img img{
        padding: 10px auto;
    }
    .banner-content{
        
        width:90%;
        margin: 20px auto;
        height:100%;
        padding: 20px auto;
    }
    

    .online-games-img-section{
        flex-direction: column;
       width: 100%;
        
    }
    .games-img-box{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        
    }
    .overlay {
        position: absolute;
        left: 39px;
    }
    .play-instant-section{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-left: 20px;
    }
    .play-instant {
        width:100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .play-instant-content{
        width:80%;
        justify-content: center;
    }
    .play-instant-img{
        width:80%;
        margin: 10px 30px;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        
      
        
    }
    .play-instant-limg img{
        width:100%;

    }
    .play-instant-simg img{
        width:40%;
        margin-right: 20px;
       
        
    }
    .game-types-section{
        width:100%;
        padding: 10px 0px;
    }

    .game-types-container{
        width:100%;
    }
    .game-types{
        width: 180px;
        height: 50px;
      
        margin:10px 5px;
      
    }
    /* .game-types img{
        width: 25%;
    }
    .game-types h3{
        width: 75%;
        width: 12px;
    } */
} 